{% extends 'base.html' %}
{% load static %}
{% block title %}Callback{% endblock title %}
{% block body %}
<div class="container">

    {% if status == "Success" %}
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Payment Successful</div>
    </div>
    {% else %}
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Payment Failed</div>
    </div>
    {% endif %}

</div>
{% endblock body %}