{% extends 'base.html' %}
{% load static %}
{% block title %}Donate{% endblock title %}

{% block body %}


<div class="container">
    <form class="d-flex mt-3">
        <input class="form-control me-2" type="search" placeholder="Search by Id or Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<hr>

<div class="border-start border-end border-warning m-3">

    <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
        {% for post in posts %}
        <div class="col">
            <div class="card">
                <h5 class="card-header">{{post.title}}</h5>
                <img src="media/{{ MEDIA_URL }}{{ post.images }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Soch raha hu</h5>
                    <p class="card-text">{{post.description}}</p>
                </div>
                {% if user.is_authenticated %}
                <a href="#" class="btn btn-primary">Donate to {{post.upi_id}}</a>
                {% else %}
                <a href="{% url 'user-login' %}" class="btn btn-primary">Login to Donate</a>
                {% endif %}
                <div class="card-footer">
                    <small class="text-muted">Post Id - 123456 | By Nikhil Raj | On - {{post.posted_on}}</small>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock body %}