{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block body %}

<div class="container h-100">
    {% for message in messages %}

    <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
        {{message}}
    </div>

    {% endfor %}
</div>

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="container">
                <object data="{% static 'Authentication-bro.svg' %}" type="" height="100%"></object>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <h3 class="">
                Enter the credentials
            </h3>

            <form method="POST">
                {% csrf_token %}
                <label for="mail">Username</label>
                <input type="text" name="uname" id="mail" class="form-control">

                <label for="pass1">Password</label>
                <input type="password" name="password" id="pass1" class="form-control">

                <button class="btn btn-outline-primary mt-1">Login</button>
            </form>

            <hr>

            <h5 class="text-center">
                New Here? Click <a href="{% url 'user-register' %}">here</a> to Signup

            </h5>
        </div>
    </div>
</div>


{% endblock body %}