{% extends 'base.html' %}
{% load static %}
{% block title %}Make Payment{% endblock title %}
{% block body %}
<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            key: "{{razorpay_key}}",
            amount: "{{order.amount}}",
            currency: "INR",
            name: "{{order.name}}",
            description: "{{description}}",
            image: "{% static 'fundraising.png' %}",
            order_id: "{{order.provider_order_id}}",
            callback_url: "{{callback_url}}",
            redirect: true,
            prefill: {
                "name": "{{name}}",
                "email": "{{email}}",
                "contact": "{{mobile}}"
            },
            notes: {
                "address": "Funds Raiser"
            },
            theme: {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock body %}