{% extends 'base.html' %}
{% load static %}
{% block title %}Payment Page{% endblock title %}

{% block body %}



<div class="container mt-3">
    <div class="row">
        {% for post in posts %}
        <div class="col-12">
            <div class="card border-success">
                <h5 class="card-header">Paying to - {{post.username}} | Post Id - {{post.post_id}}</h5>
                <div class="card-body">
                    <h5 class="card-title">Title - {{post.title}}</h5>
                    <p class="card-text">Description - {{post.description}}</p>
                    <img src="../media/{{post.post_id }}.svg" class="card" alt="...">
                    <button class="btn btn-sicess">Scan the QR code to pay.</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}