{% extends 'base.html' %}
{% load static %}
{% block title %}{{user.username}} | Profile {% endblock title %}
{% load crispy_forms_tags %}
{% block body %}




<!-- Welcome Card  -->

{% for message in messages %}

<div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
    {{message}}
</div>

{% endfor %}


<div class="container mt-2">
    <div class="card">
        <h5 class="card-header">Welcomme {{user.first_name}}</h5>
        <div class="card-body">
            <h5 class="card-title">Username - {{user.username}} | Email address - {{user.email}}</h5>
            <p class="card-text">All your records and posts are saved here</p>

            <a href="#create_post_section">
                <button class="btn btn-info" style="width: 25%;">
                    Create Post
                </button>
            </a>

            <a href="#user_posts">
                <button class="btn btn-success" style="width: 25%;">
                    Your Posts
                </button>
            </a>

        </div>

    </div>
</div>

<hr id="create_post_section">

<!-- New Post Form  -->
<div class="container">
    <div class="card">
        <div class="card-header">
            Create a new Post
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">UPI ID</label>
                    <input type="text" class="form-control" name="upi_id" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Banner</label>
                    <input class="form-control" type="file" name="images" id="formFile">
                </div>

                <button type="submit" class="btn btn-primary mt-3" style="width: 100%;">Post</button>
            </form>

        </div>
    </div>

</div>


<hr id="user_posts">


<!-- Post  Card  -->
<div class="container">
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" href="#">Your Posts</a>
    </nav>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
        tabindex="0">

        <div class="row row-cols-1 row-cols-md-4 g-4 mb-1">

            {% for post in user_posts %}
            <div class="col">
                <div class="card" style="height: 50%;">
                    <h5 class="card-header">{{post.title}}</h5>
                    <img src="media/{{ MEDIA_URL }}{{ post.images }}" class="card-img-top"  width="400" height="200" alt="...">

                    <div class="card-footer">
                        <small class="text-muted">Post Id - {{post.post_id}} | Posted On - {{post.posted_on}}</small>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</div>


</div>
</div>

{% endblock body %}